.Input_container_ar,
.Input_container_en {
  position: relative;
}
.Input_container_ar > i,
.Input_container_ar > svg,
.Input_container_en > i,
.Input_container_en > svg {
  position: absolute;
  top: 50%;
  color: #7e7e7e;
}
.Input_container_ar > i,
.Input_container_ar > svg {
  left: 18px;
}
.Input_container_en > i,
.Input_container_en > svg {
  right: 18px;
}
.Input_container_en > input,
.Input_container_ar > input {
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
}
.Input_container_en > input:focus,
.Input_container_ar > input:focus {
  outline: none;
  box-shadow: none;
  border-color: #eee;
}
.login_label {
  margin-bottom: 0;
}
.select_container_ar,
.select_container_en {
  position: relative;
}
.select_container_ar > select,
.select_container_en > select {
  border-radius: 20px;
  height: 48px;
  padding: 5px 15px !important;
  background-color: #f4f7fc;
  font-weight: 700;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.select_container_ar::after,
.select_container_en::after {
  content: "\f078";
  position: absolute;
  top: 8px;
  padding: 5px;
  pointer-events: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.select_container_ar::after {
  left: 15px;
}
.select_container_en::after {
  right: 15px;
}
.select_container_ar option,
.select_container_en option {
  border-radius: 12px;
  background-color: #f4f7fc;
}
.select_container_ar > .ErrorStyle,
.select_container_en > .ErrorStyle {
  margin-top: 10px;
  text-align: start;
}

.textArea_container > textarea {
  border-radius: 15px;
  padding: 20px 15px;
  background-color: #f4f7fc;
  font-weight: 700;
  resize: none;
  border-color: transparent;
}

.upload__container {
  height: 160px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--primaryBtn);
  border-radius: 8px;
  cursor: pointer;
}
.custom_upload_file {
  height: 120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--primaryBtn);
  border-radius: 8px;
  cursor: pointer;
}
.custom_upload_file > label,
.upload__container > label {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--successText);
  font-weight: 500;
}
.custom_upload_file > label > span,
.upload__container > label > span {
  cursor: pointer;
}
.upload__container i {
  font-size: 30px;
  color: var(--successText);
  cursor: pointer;
}
.custom_upload_file input[type="file"],
.upload__container > #upload_institutionImage {
  display: none;
}

.img_preview_container_ar,
.img_preview_container_en {
  position: relative;
}
.img_preview_container_ar > img,
.img_preview_container_en > img {
  max-width: 60px;
  max-height: 60px;
}
.ErrorStyle {
  color: #ff4b5a;
  margin-top: 5px;
}
.invalid_input {
  margin-bottom: 0;
}

/* checkbox style */
.remember_check_ar {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  text-align: start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.remember_check_ar > input,
.remember_check_en > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.remember_check_ar .checkmark,
.remember_check_ar .checkmark {
  position: absolute;
  top: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 1px solid #eee;
}
.remember_check_ar .checkmark {
  right: 0;
}
.remember_check_en .checkmark {
  left: 0;
}
.remember_check_ar input:checked ~ .checkmark,
.remember_check_en input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #f15a24;
}
.remember_check_ar input:checked ~ .checkmark:after,
.remember_check_en input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.remember_check_ar .checkmark:after,
.remember_check_en .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #f15a24;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.remember_check_ar > label {
  margin-right: 30px;
  cursor: pointer;
}
.remember_check_en > label {
  margin-left: 30px;
  cursor: pointer;
}
.remember_check_ar input:checked ~ label,
.remember_check_en input:checked ~ label {
  color: #f15a24;
}
