.chat {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chat_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }
  .chat_content {
    margin: 0px 100px 20px;
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
  }
  .chat_massages {
    display: flex;
    height: 85vh;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
    border: #E0E7F5 solid 1.5px;
    border-radius: 3px;
    border-bottom-color: transparent;
  }
  /* #Scrollbar ::-webkit-scrollbar {
    width: 20px;
  }
  #Scrollbar ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  #Scrollbar ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  } */
  .chat_content .host,
  .chat_content .client {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 15px 10px;
  }
  .chat_content .client {
    margin-bottom: 20px;
  }
  .chat_content .host {
    align-self: flex-end;
  }
  .client .msg_detial {
    display: grid;
    align-items: flex-start;
  }
  .client .msg_detial_img {
    display: flex;
    align-items: flex-start;
  }
  .chat_content .client .msg_detial .msg_detial_img > img {
    max-height: 13vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
  }
  .chat_content .client .msg_detial p,
  .chat_content .host p {
    white-space: pre-line;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }
 
  .chat_content .client .msg_detial p {
    background-color: #F5F8FF;
     color: #000;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     border-top-left-radius:20px ;
  }
  .chat_content .host p {
    background-color: #061637;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 30px;
    border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     border-top-right-radius:20px ;
  }
  .host__msg__img,
  .client__msg__img {
    height: 30vh;
    margin-bottom: 5px;
  }
  .chat_content .client span,
  .chat_content .host span {
    font-size: 16px;
    color: #959595;
    font-weight: 700;
  }
  .chat_content .host span {
    align-self: end;
    margin-right: 30px;
  }
  .massages_field {
    position: sticky;
    bottom: 0;
    padding: 15px 10px;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E0E7F5 solid 1.5px;
    border-top: none;
  }
  .massages_field > div {
    display: contents;
    align-items: center;
    width: 90%;
    justify-content: flex-start;
  }
  .form-control-lg{
    border: none;
  }
  .form_control {
    display: block;
    width: 100%;
    height: calc(2em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F5F8FF;
    background-clip: padding-box;
    border: none;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none
}
.form_control:focus {
  border: none;
  outline: none;
}
  .massages_field > div > div {
    margin-bottom: 0;
    
  }
  .massages_field > div{
    border: #E0E7F5 solid 1.5px;
    background-color: #F5F8FF;
    border-radius: 20px;
  }
  .massages_field button {
    text-align: center;
    padding: 2px 5px 5px;
    width: 10%;
    background-color: #FF7247;
    color: #fff;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 30%;

  }
  .massages_field button:focus {
    outline: none;
  }
  .inputMsg {
    position: relative;
    margin-bottom: 15px;
 
  }
  .inputMsg > label {
    position: absolute;
    top: 30%;
  }
  
  @media only screen and (max-width: 768px) {
    .chat_content > .host,
    .chat_content > .client {
      width: 100%;
    }
    .chat_content > .client .client_detial p {
      font-size: 16px;
    }
    .inputMsg {
      padding: 0;
    }
  
    .chat_content {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    .chat_content .host,
    .chat_content .client {
      width: 100%;
    }
    .chat_content .host p {
      margin-right: 60px;
    }
    .massages_field button {
      padding: 2px;
      margin-bottom: 15px;
    }
    .massages_field button img {
      width: 100%;
    }
  }
  @media (max-width: 400px) {
    .host__msg__img,
    .client__msg__img {
      height: 15vh;
    }
  }
  