.filterCardHeader {
  background-color: #e3eaf9;
}
.filterBTN {
  color: #061637;
  font-size: 16px;
}
.showAllFilter {
  font-size: 14px;
  font-weight: 300;
}
.filterBTN:hover {
  color: #f15a24;
}
.filterBTN:hover,
.filterBTN:focus {
  text-decoration: none;
  box-shadow: none;
}
.filterCard {
  border: 0;
  border-radius: 0;
}
.filterCardBody {
  background-color: #f5f8ff;
}
.filterFormGroup:last-of-type {
  margin-bottom: 0;
}
.filterCheckBox {
  padding: 0;
}
.filterCheckBox input {
  margin: 0.3rem 0 0;
  cursor: pointer;
}
.filterCheckBox label {
  color: #707070;
  cursor: pointer;
}
.filterLabelAR label {
  margin-right: 20px;
}
.filterLabelEN label {
  margin-left: 20px;
}
.handleFilter {
  display: none;
  background-color: #f15a24;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 100;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  font-size: 25px;
}
.storeName > div {
  width: 60px;
}

@media screen and (max-width: 991px) {
  .filterBody {
    display: none;
  }
  .handleFilter {
    display: flex;
  }
}
