@font-face {
  font-family: Montserrat;
  src: url(../Assets/fonts/Montserrat-Arabic-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

input::placeholder {
  font-family: Montserrat;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.MuiAutocomplete-inputRoot {
  padding: 0 !important;
}
.active_Link {
  color: #f15a24 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.submitBtn {
  width: 80%;
  background: linear-gradient(to bottom, #ff7247, #f15a24);
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
}
.submitBtn:hover {
  color: #fff;
}
.suggest_value {
  padding: 4px 10px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.login_btn_container {
  text-align: center;
}

.productDetailsTabNav {
  background-color: #ecf2ff;
}
.favoriteTabnav {
  background-color: inherit;
}
.favoriteTabnav .nav-tabs .nav-link {
  font-weight: 600;
}
.productDetailsTabNav .nav-tabs .nav-link {
  border: 0;
  background-color: #fff;
  border-radius: 8px !important;
  padding: 0.5rem 1.5rem;
  color: #9ea4af;
}
.productDetailsTabNav .nav-tabs .nav-item.show .nav-link,
.productDetailsTabNav .nav-tabs .nav-link.active {
  background-color: #ff72475e;
  color: #f15a24;
}
.productDetailsTabNav .nav-tabs .nav-link:last-child {
  margin: 0 8px;
}

/* Header Search Inputs */
.headerFormControlAR .MuiInputLabel-formControl,
.headerFormControlEN .MuiInputLabel-formControl {
  top: 50%;
  transform: translateY(-50%) !important;
}
.headerFormControlAR .MuiInputLabel-formControl {
  right: 5px !important;
  left: auto !important;
}
.headerFormControlEN .MuiInputLabel-formControl {
  left: 5px !important;
}
/* StoreSlider */
.storeSlider {
  height: 550px;
  background-color: #ff7247;
}
.storeSlider .slick-slider,
.storeSlider .slick-slider .slick-list,
.storeSlider .slick-slider .slick-track,
.storeSlider .slick-slider .slick-slide > div,
.storeSlider .slick-slider .slick-slide > div > div {
  height: 100%;
}
.storeSlider .slick-dots {
  z-index: 1000;
  bottom: 2%;
  width: auto;
}
.storeSliderAR .slick-dots {
  right: 55px;
}
.storeSliderEN .slick-dots {
  left: 55px;
}
.storeSlider .slick-dots li,
.storeSlider .slick-next,
.storeSlider .slick-prev {
  width: 30px;
  height: 30px;
  background-color: #ff7247;
  border-radius: 8px;
  color: #ffffff;
  padding: 2px 0;
}
.storeSlider .slick-dots li {
  background-color: #9ea4af66;
}
.storeSlider .slick-dots li.slick-active {
  background-color: #fff;
  color: #0c0240;
}
.storeSlider .slick-next,
.storeSlider .slick-prev {
  z-index: 900;
  top: 98%;
  transform: translateY(-98%);
}
.storeSliderAR .slick-next {
  right: 220px !important;
  left: auto !important;
}
.storeSliderAR .slick-prev {
  right: 20px !important;
}
.storeSliderEN .slick-next {
  left: 220px !important;
  right: auto !important;
}
.storeSliderEN .slick-prev {
  left: 20px !important;
}
.storeSlider .slick-next,
.storeSlider .slick-next:focus,
.storeSlider .slick-next:hover {
  background-image: url("../Assets/Images/store/arrowLeft.png");
}
.storeSlider .slick-prev,
.storeSlider .slick-prev:focus,
.storeSlider .slick-prev:hover {
  background-image: url("../Assets/Images/store/arrowRight.png");
}
.storeSlider .slick-next::before,
.storeSlider .slick-prev::before {
  content: "";
  font-size: 0;
}
.responsiveFilter {
  top: 20%;
}
.responsiveFilter .close span {
  width: 30px;
  height: 30px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
}
.responsiveFilter .nav-tabs .nav-link {
  width: 50%;
  border: 0;
  text-align: center;
  background-color: #ff72475e;
  color: #f15a24;
  border-radius: 0;
  font-size: 18px;
}
.responsiveFilter .nav-tabs .nav-item.show .nav-link,
.responsiveFilter .nav-tabs .nav-link.active {
  background-color: #ecf2ff;
  color: #061637;
}
.responsiveFilter .responsiveFormGroup input {
  position: absolute;
  right: 0;
}
.responsiveFilter label {
  color: #061637 !important;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .storeSlider {
    height: 350px;
  }
  .productDetailsTabNav {
    background-color: inherit;
  }
  .prodImgsResponsive {
    height: 350px;
    margin-bottom: 20px;
    border: 2px solid #9ea4af;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
  }
  .prodImgsResponsive .slick-prev,
  .prodImgsResponsive .slick-next {
    display: none !important;
  }
  .prodImgsResponsive .slick-slider,
  .prodImgsResponsive .slick-list,
  .prodImgsResponsive .slick-track,
  .prodImgsResponsive .slick-slide,
  .prodImgsResponsive .slick-slide > div,
  .prodImgsResponsive .prodImgsResponsiveImages {
    height: inherit;
  }
  .prodImgsResponsive .slick-dots {
    bottom: 5px;
  }
  .prodImgsResponsive .slick-dots li button:before {
    color: inherit;
    border: 3px solid #9ea4af;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  .prodImgsResponsive .slick-dots li.slick-active button:before {
    color: inherit;
    border-color: #f15a24;
  }
  .prodImgsResponsive img {
    padding: 10px 10px 30px;
  }
  .dropdown-toggle::after {
    content: none;
  }
}
@media screen and (max-width: 575px) {
  .storeSlider {
    height: 200px;
  }
  .prodImgsResponsive {
    height: 250px;
  }
}
