.filterTitle {
  background-color: #e3eaf9;
}

.ant-collapse-header {
  text-align: right !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #f15a24;
}
.ant-radio-inner::after {
  background-color: #f15a24 !important;
}

.filterAttrAr {
  text-align: right;
}

.filterAttrEn {
  text-align: left;
}
.ant-radio-group {
  width: 100%;
}
