.orderInfo > div {
  border: 2px solid #e1e7f3;
}
.orderDetails {
    display: flex;
    justify-content: space-between;
}
.orderDetails h6 {
  margin-bottom: 10px;
}
.orderInfo .cancelOrderBTN {
  border-radius: 50px;
  min-width: 135px;
  background-image: linear-gradient(to right, #061637, #1b356b);
  font-weight: 400;
  cursor: pointer;
}
.totalAmount p {
  font-size: 14px;
}
.totalAmount .price {
    font-size: 28px;
}
.paymentWay img {
  width: 30px;
}
.storeName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DCE2F2;
}
.storeName .chat {
  background-color: #28af31;
}
.orderProductCard {
  border: 2px solid #e1e7f3;
}
.orderProductCardImg {
  width: 100px;
}
.orderProductCardInfo {
  width: 70%
}
.orderProductCardInfo p:not(:last-of-type) {
  font-size: 20px;
}

@media screen and (max-width: 575px) {
  .orderDetails {
    display: block;
  }
}