.productImg {
  width: 150px;
  height: 100px;
}
.productcard h4 {
  color: #061637;
  height: 55px;
  line-height: 1.5;
  width: 98%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
}
.productcard div > span {
  color: #f15a24;
  font-size: 20px;
}
.productcard div .productPrice {
  font-size: 22px;
  color: #f15a24;
}
.productBtns button {
  height: 50px;
  background-color: #061637;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1;
}
.productBtns button:hover,
.productBtns button:focus,
.productBtns button:active {
  background-color: #061637 !important;
  box-shadow: none !important;
}
.productBtns .productFav,
.productBtns .productFav:focus,
.productBtns .productFav:hover,
.productBtns .productFav:active {
  font-size: 22px;
  width: 45px;
  background-color: #e7ecf6 !important;
}
.productFav:hover {
  color: #f15a24!important;
}
@media screen and (max-width: 991px) {
  .productImg {
    width: 60%;
  }
}