.market_item_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.market_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #dce2f2;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}
.market_name > h6,
.market_name > p {
  font-size: 13px;
  margin-bottom: 0;
  color: #f15a24;
  font-weight: 300;
}
.market_name > h6 > span {
  color: #9ea4af;
}
.product_container {
  border: 1px solid #e1e7f3;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #fff;
  gap: 20px;
  width: 100%;
}
.product_container > .img_container {
  width: 25%;
  height: 160px;
  text-align: center;
}
.img_container > img {
  max-width: 100%;
  max-height: 70%;
}
.img_container > .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: #f5f1ff;
  margin-top: 15px;
  border-radius: 20px;
  padding: 4px 6px;
  width: 100%;
}
.img_container > .count > i {
  background-color: #f15a24;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}
.product_container > .product_content {
  text-align: start;
  position: relative;
  width: 75%;
}
.product_content > h4 {
  font-size: 15px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_content > p:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f15a24;
}
.product_content > p:nth-child(3),
.product_content > h6 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product_content > .delete_icon_ar,
.delete_icon_en {
  position: absolute;
  top: 40%;
  cursor: pointer;
  background-color: #e7ecf6;
  color: #626d81;
  padding: 5px;
  border-radius: 4px;
}
.delete_icon_ar {
  left: 10px;
}
.delete_icon_en {
  right: 10px;
}
.cart_total,
.products_sum {
  background-color: #fff;
  border: 1px solid #e1e7f3;
  text-align: start;
  padding: 20px 20px 10px;
}
.products_sum {
  font-size: 13px;
}
.cart_total {
  margin-top: 10px;
  margin-bottom: 20px;
}
.cart_total > p {
  font-size: 13px;
}
.cart_total > h6 {
  color: #f15a24;
  font-size: 18px;
}
.cart_total > small {
  font-size: 10px;
  color: #9ea4af;
}
.btn_checkout {
  width: 100%;
  background: linear-gradient(to bottom, #061637, #1b356b);
  color: #fff;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
}
.btn_checkout:hover {
  color: #fff;
}
.ads_container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.ads_container > .img_container {
  width: 100%;
}
.ads_container > .img_container > img {
  width: 100%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .ads_container {
    display: none;
  }
}
