.shopCard {
    cursor: pointer;
}
.logoShop {
    width: 55px;
    text-align: center;
}
.nameShop h5 {
    font-size: 16px;
    color: #061637;
    font-weight: 400;
}
.nameShop h6 {
    font-size: 14px;
    color: #9EA4AF;
    font-weight: 400;
}
.nameShop span {
    font-size: 15px;
    color: #F15A24;
}

.followBtn {
    font-size: 14px;
    background-color: #F15A24;
    text-align: center;
}
.followingBtn {
    background-color: #f15a243e;
    text-align: center;
    color: #f15a24;
}

@media screen and (max-width: 767px) {
    .shopCard {
        display: block!important;
    }
    .followBtn {
        margin-top: 10px;
    }
}