.storeDivTitleAR img,
.storeDivTitleEN img {
  width: 32px;
}
.storeDivTitleEN img {
  transform: rotate(180deg);
}
.storeDivTitleAR span {
  margin-right: 50px;
}
.storeDivTitleEN span {
  margin-left: 50px;
}
.storeLogo {
  width: 50px;
}
.storeFav {
  cursor: pointer;
  color: #adb2bd;
  transition: all 0.2s ease;
}
.storeFav:hover {
  color: #ff7247;
}
.following,
.chat {
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  width: 100px;
}
.following {
  background-color: #f15a24;
  transition: all 0.3s ease-in;
}
.following:hover {
  background-color: #f15a243e;
}
.followSpan {
  transition: all 0.3s ease-in;
}
.followingSpan {
  display: none;
  color: #f15a24;
}
.following:hover .followSpan {
  display: none;
}
.following:hover .followingSpan {
  display: inline-block;
}
.following:hover .followingIcon {
  color: #f15a24;
}
.chat {
  background-color: #28af31;
}
.sliderInfo h4,
.workDates {
  font-weight: 400;
}
.storeCat {
  color: #9ea4af;
}
.storeRate {
  color: #f15a24;
  font-size: 18px;
}
.storeLocation {
  border: 1px solid #e1e5eb;
  overflow: hidden;
}
.storeLocation p {
  color: #061637;
  font-size: 14px;
}
.storeLocation div {
  background-color: #061637;
  font-size: 20px;
  cursor: pointer;
}
.workDates {
  color: #f15a24;
}
.storeSocials a {
  display: inline-block;
  width: 50px;
  margin-bottom: 8px;
}
.storeAdRate {
  color: #5b6e97;
  border-radius: 10px;
  font-size: 18px;
}
.rating div span {
  margin: 0 1px;
}
.rating div:focus {
  outline: 0 !important;
}
.storeCategories > a {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  color: #626d81;
  border: 1px solid #e1e5eb;
  margin: 0px 5px 10px;
}
.showAllProducts {
  background-color: #f15a24;
}
.showAllProducts a {
  display: block;
  padding: 12px 0;
  color: #fff;
  font-size: 18px;
}
.storeCategories a:hover {
  text-decoration: none;
}
.userComment {
  border-radius: 15px;
}
.userComment .userImg {
  width: 60px;
  height: auto;
}
.userComment .userName span:first-child {
  color: #061637;
  font-size: 20px;
}
.userComment p {
  color: #171717;
  font-size: 18px;
}
.showAllComments {
  background-color: #f15a243e;
  color: #f15a24;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.addCommentInput {
  background-color: #d1dcf5;
  padding: 10px 20px;
  border-radius: 15px;
}
.addCommentInput input,
.addCommentInput input:focus {
  background-color: inherit;
  border: 0 !important;
  color: #5b6e97;
  box-shadow: none;
}
.addCommentInput input::placeholder {
  color: #5b6e97;
}
.addCommentBTN {
  background-color: #ff7247;
  border-radius: 25px !important;
  min-width: 120px;
  cursor: pointer;
}
.storeColAd {
  max-height: 200px;
}
.similarStores h2 {
  color: #061637;
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  .storeLogoBtns {
    flex-wrap: wrap;
  }
  .storeLogo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .userComment {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .userComment > div {
    display: block !important;
  }
  .userComment .userImg {
    margin-bottom: 10px;
  }
  .userComment p {
    font-size: 16px;
  }
  .storeCategories > a {
    min-width: 75px;
    padding: 7px 10px;
    font-size: 15px;
  }
  .storeSocials a {
    width: 45px;
  }
  .workDates ~ p {
    font-size: 15px;
  }
  .storeLogoBtns {
    display: block !important;
  }
  .storeLogo {
    margin: 12px 0;
  }
  .addCommentInput {
    padding: 7px 10px;
  }
  .addCommentBTN {
    min-width: 75px;
    font-size: 15px;
  }
}
