.subscriptionText h3 {
    color: #F15A24;
}
.subscriptionText p {
    color: #707070;
    line-height: 1.7;
}
.subscriptionLogin, .subscriptionLogin:hover, .subscriptionLogin:focus, .subscriptionLogin:active {
    background-color: #F15A24!important;
    box-shadow: none!important;
}
.subscriptionLogin a {
    display: block;
    width: 100%;
}